
.project{
    margin-left: 12%;
    margin-right: 12%;

}

.Project {
    
    text-align: center;
    font-size: 43px;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #b800a9;
    -webkit-text-fill-color: #514ab3;
    font-family: Times New Roman;
    text-shadow: -23px -7px 0px rgba(163, 163, 163, 0.47);
}


.Sentens {
	font-size: 71px;
	font-family: Impact, Charcoal, sans-serif;
	background-image: -webkit-linear-gradient(214deg, #08788F 30%, #05BEF7 32%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
}

.skillsimage{
   width: 15rem;
   height: 13rem;
    margin-left: 14%;
    margin-right: 14%;
}

